	<div class="row">
		<div class="col-sm-2">
			<img src="assets/sanmina_2inch.jpg" alt="sanmina.JPG" align="middle" onClick="onClick()" style="width:auto;height:auto;">
		</div>
		<div class="col-sm-10 align-self-center">
		  <h1 style="color: #ef3f42;font-size: 4em;">Sanmina Debug Tech Tracker</h1>
		  <!-- <p>Resize this responsive page to see the effect!</p>  -->
		</div>
	</div>