  <div class="row" style="flex-wrap: unset;">
    <div class="col-sm-4 text-center border rounded" style="margin-left:10px;margin-right:10px;">
      <h2>Overall Accuracy</h2>
	  <p> </p>
      <h3>%s%%</h3>
    </div>
    <div class="col-sm-4 text-center border rounded" style="margin-left:10px;margin-right:10px;">
      <h3>Last Week Accuracy</h3>
      <p>%s</p>
      <h3>%s%%</h3> 
    </div>
    <div class="col-sm-4 text-center border rounded" style="margin-left:10px;margin-right:10px;">
      <h3>Last Quarter Accuracy</h3>
      <p>%s</p>
      <h3>%s%%</h3>
    </div>
  </div>
