  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="main_loading.html">Home</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Last Week</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="quarterly.html">Quarterly View</a>
    </li>
	<li class="nav-item">
      <a class="nav-link" href="monthly.html">Monthly View</a>
    </li>
	<li class="nav-item">
      <a class="nav-link" href="weekly.html">Weekly View</a>
    </li>
   <!--  <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li> -->
  </ul>