<div class="card text-center">
	<div class="card-header">
		%s
	</div>
	<div class="card-body">
		<div class="row" class"align-self-center" >
			<div class="col-sm-2 text-center">
				<h5 class="card-title">Accuracy</h5>
				<p class="card-text">%s%%</p>
			</div>
			<div class="col-sm-2 text-center">
				<h5 class="card-title">Numbers</h5>
				<p class="card-text" style="margin: 0;">Passed: %s</p>
				<p class="card-text" style="margin: 0;">Failed: %s</p>
			</div>
			<!-- <div class="col-sm-4 text-center">
				<h5 class="card-title"></h5>
				<p class="card-text"></p>
			</div> -->
			<div class="col-sm-4 text-center">
				<h5 class="card-title">Top Techs:</h5>
				<p class="card-text" style="margin: 0;">%s</p>
				<p class="card-text" style="margin: 0;">%s</p>
				<p class="card-text" style="margin: 0;">%s</p>
				
				
			</div>
			<div class="col-sm-4 align-self-center">
				<a href="week_indiv.html?week=%s" class="btn btn-primary">View Week</a>
			</div>
		</div>
	</div>
</div>